EXT_APN_ACCOUNT_ID=123456789012
EXT_APN_ROLE_NAME=<fake-apn-role-name>
EXT_AWS_OPENID_SCOPE=urn://dev.aws.services.softwareone.com/.default
EXT_AWS_REGION=us-east-1
EXT_BILLING_ROLE=<fake-billing-role-name>
EXT_CCP_API_BASE_URL=https://ccp.xxxx
EXT_CCP_CLIENT_ID=123456789
EXT_CCP_KEY_VAULT_SECRET_NAME=<fake-ccp-key-vault-secret-name>
EXT_CCP_OAUTH_CREDENTIALS_SCOPE=api://xxxx/.default
EXT_CCP_OAUTH_URL=https://login.microsoftonline.com/<tenant_id>/oauth2/v2.0/token
EXT_CLOUD_ORCHESTRATOR_API_BASE_URL=https://cloud-orchestrator.xxxx
EXT_CRM_API_BASE_URL=https://swo-ip-apim-xxx
EXT_CRM_AUDIENCE=https://swo-ip-unified-ticketing-uat.xxx
EXT_CRM_CLIENT_ID=33faer-xxxx
EXT_CRM_CLIENT_SECRET=C1dtF-xxxx
EXT_CRM_OAUTH_URL=https://bit-ba-test.xxxx/oauth/token
EXT_CUSTOMER_ROLES_QUERYING_TIMEOUT_DAYS=4
EXT_FFC_OPERATIONS_API_BASE_URL=https://ext-xxxx-xxxx.ext.s1.show/ops/v1
EXT_MANAGEMENT_ROLE=<fake-management-role-name>
EXT_MSTEAMS_WEBHOOK_URL=https://whatever.webhook.office.com/webhookb2/<...>
EXT_QUERYING_TIMEOUT_DAYS=4
EXT_WEBHOOKS_SECRETS={"PRD-1111-1111":"<super-jwt-secret>"}

EXT_AIRTABLE_API_TOKEN=patXXXX
EXT_AIRTABLE_BASES={"PRD-XXX-XXX":"appYYYYYY"}
EXT_AIRTABLE_ACCOUNT_MIGRATION_BASE_ID=appZZZZZZZZ

MPT_API_BASE_URL=http://devmock:8000
MPT_API_TOKEN=<vendor-api-token>
MPT_KEY_VAULT_NAME=https://<fake-key-vault-name>.vault.azure.net/
MPT_NOTIFY_CATEGORIES={"ORDERS": "NTC-XXXX-XXXX"}
MPT_ORDERS_API_POLLING_INTERVAL_SECS=120
MPT_PORTAL_BASE_URL=http://devmock:8000
MPT_PRODUCTS_IDS=PRD-1111-1111
MPT_TOOL_STORAGE_TYPE=local
MPT_TOOL_STORAGE_AIRTABLE_API_KEY=<fake-airtable-api-key>
MPT_TOOL_STORAGE_AIRTABLE_BASE_ID=<fake-storage-airtable-base-id>
MPT_TOOL_STORAGE_AIRTABLE_TABLE_NAME=<fake-storage-airtable-table-name>

## AZURE AUTH
AZURE_CLIENT_ID=<fake-azure-client-id>
AZURE_TENANT_ID=<fake-azure-tenant-id>
AZURE_CLIENT_CERTIFICATE_PATH=/extension/<fake-certificate>.pfx
AZURE_CLIENT_CERTIFICATE_PASSWORD=<fake-certificate-password>

## CCO
EXT_CCO_CLIENT_ID=xxx
EXT_CCO_CLIENT_SECRET=yyyy
EXT_CCO_API_BASE_URL=https://api
EXT_CCO_OAUTH_URL=https://oauth/oauth/token
EXT_CCO_AUDIENCE=xxx
EXT_CCO_MANUFACTURER_CODE=SWOTS

## SVC_PROVISIONING
EXT_SVC_PROVISIONING_CLIENT_ID=xxx
EXT_SVC_PROVISIONING_CLIENT_SECRET=yyyy
EXT_SVC_PROVISIONING_API_BASE_URL=https://api
EXT_SVC_PROVISIONING_OAUTH_URL=https://oauth/oauth/token
EXT_SVC_PROVISIONING_AUDIENCE=xxx

## REPORTS AND STORAGE
EXT_AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=<fake-account>;AccountKey=<fake-key>
EXT_AZURE_STORAGE_CONTAINER=<fake-container>
EXT_AZURE_STORAGE_SAS_EXPIRY_DAYS=30
EXT_REPORT_BILLING_FOLDER=billing
EXT_REPORT_INVITATIONS_FOLDER=invitations
EXT_CONFLUENCE_BASE_URL=https://xxxx.atlassian.net/wiki
EXT_CONFLUENCE_USER=<fake-confluence-user>
EXT_CONFLUENCE_TOKEN=<fake-confluence-token>
EXT_PENDING_ORDERS_INFORMATION_REPORT_PAGE_ID=1234567890

## NOTIFICATIONS
EXT_AWS_SES_CREDENTIALS=<fake-access-key>:<fake-secret-key>
EXT_AWS_SES_REGION=eu-west-1
EXT_EMAIL_NOTIFICATIONS_ENABLED=0
EXT_EMAIL_NOTIFICATIONS_SENDER=noreply@example.com
EXT_DEPLOY_SERVICES_FEATURE_RECIPIENTS=<fake-recipient>@example.com
